/*
========================================
COMPONENTS
- cards
- botones
- badges
- matches
- flags
========================================
*/

/* BUTTON */
button {
  margin-left: 8px;
  padding: 10px 14px;

  background: #1e293b;
  border: 3px solid #334155;
  color: white;

  cursor: pointer;
  transition: 0.15s;

  box-shadow: 4px 4px 0px #020617;
}

button:hover {
  transform: translateY(-2px);
}

/* CARD grupo */
.card {
  background: #1e293b;
  padding: 18px;
  border: 4px solid #334155;
  box-shadow: 6px 6px 0px #020617;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  will-change: transform;
}

.card.dim {
  opacity: 0.3;
}

.card h3 {
  margin: 0 0 12px 0;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-2px) scale(1.01);
  box-shadow: 8px 8px 0px #020617;
}

/* TEAMS */
.teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.team {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* FLAGS */
.flag {
  width: 28px;
  height: 20px;
  object-fit: cover;
  border: 2px solid #475569;
  image-rendering: pixelated;
  cursor: pointer;
}

.flag.active {
  outline: 2px solid #7c3aed;
  box-shadow: 0 0 10px #7c3aed;
  transform: scale(1.05);
}

/* BADGE */
.badge {
  background: #2563eb;
  padding: 8px 10px;
  border: 3px solid #60a5fa;
  font-size: 10px;
  box-shadow: 3px 3px 0px #1e3a8a;
  cursor: pointer;
}

.badge.active {
  background: #7c3aed;
  border-color: #a78bfa;
  box-shadow: 0 0 8px #7c3aed;
}
/* MATCH */
.content {
  display: none;
  margin-top: 16px;
}

.content.open {
  display: block;
}

.match-row {
  background: #0f172a;
  padding: 12px;
  border: 2px solid #334155;
  margin-top: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.match-row.active {
  transform: translateY(-4px) scale(1.02);
  border: 2px solid #7c3aed;
  box-shadow: 0 0 12px #7c3aed;
}

.match-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.match-countdown {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 4px;
}

.match-date {
  font-size: 10px;
  opacity: 0.5;
  margin-top: 2px;
}

.team {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content; /* clave */
}

.score {
  opacity: 0.4;
  font-size: 16px;
}

.dash {
  opacity: 0.2;
}

.match-bottom {
  margin-top: 6px;
  text-align: center;
  font-size: 11px;
  opacity: 0.7;
}

/* CALENDAR DAY */
.calendar-day {
  margin-bottom: 16px;
  padding: 16px;
  background: #1e293b;
  border: 3px solid #334155;
  box-shadow: 4px 4px 0px #020617;
}

/* CTA */
.big-button {
  width: 100%;
  margin-top: 24px;
  padding: 22px;
  font-size: 14px;

  background: linear-gradient(90deg, #2563eb, #7c3aed);
  border: 4px solid #8b5cf6;
  box-shadow: 6px 6px 0px #2e1065;
}